
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='3840' height='2160' preserveAspectRatio='none' viewBox='0 0 3840 2160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1030%26quot%3b)' fill='none'%3e%3crect width='3840' height='2160' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1031%26quot%3b)'%3e%3c/rect%3e%3cpath d='M2414 1014L830 -570' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1203 1604L218 619' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2527 696L1133 -698' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M3048 793L4512 2257' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M176 1193L985 2002' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M380 973L1252 1845' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M635 2043L1569 2977' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M3164 1747L4140 2723' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M499 390L1405 1296' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1606 112L2923 1429' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1536 110L3021 1595' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M687 1951L-142 1122' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2642 50L1224 -1368' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M3362 32L1848 -1482' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2878 1695L1768 585' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1862 1246L3428 2812' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M612 2072L-351 1109' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2081 1032L3467 2418' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2096 1729L3286 2919' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M897 1407L-164 346' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M737 1425L-99 589' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1091 1028L2111 2048' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M3059 1003L1701 -355' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1966 787L1196 17' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1836 1335L1126 625' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1613 2072L2639 3098' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M3274 2019L1723 468' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1863 1408L269 -186' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1782 68L2665 951' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2818 163L4252 1597' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M2005 230L3513 1738' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M2544 344L3458 1258' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M3742 816L2801 -125' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M242 533L1123 1414' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M2947 723L2253 29' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1285 294L2466 1475' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M188 716L889 1417' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M733 903L-823 -653' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M3528 657L2723 -148' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M3672 632L4223 1183' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2845 1556L3673 2384' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1013 876L-265 -402' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1627 1216L800 389' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M976 1051L2253 2328' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1148 1268L203 323' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M101 916L-1129 -314' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M2015 1359L3296 2640' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1200 843L-366 -723' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M2382 1729L3904 3251' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1792 1043L2752 2003' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M3797 1771L5119 3093' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2009 348L1104 -557' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1189 2131L-371 571' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M370 787L1807 2224' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2482 346L3428 1292' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M648 1534L1817 2703' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1799 1964L707 872' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1844 1272L1007 435' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2369 366L1511 -492' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2454 696L3113 1355' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1977 1944L364 331' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2536 74L1494 -968' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1827 113L884 -830' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M3029 118L1858 -1053' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M102 2142L-1177 863' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1776 1129L2998 2351' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M3183 439L2572 -172' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M3254 1307L4615 2668' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1403 275L700 -428' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M354 889L1874 2409' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M23 425L780 1182' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2095 2045L3707 3657' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1456 1878L309 731' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1841 1745L966 870' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1470 888L746 164' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M538 1890L-918 434' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M385 6L-1016 -1395' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M708 1881L1430 2603' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M888 1971L2073 3156' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M356 91L1647 1382' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M2772 137L1803 -832' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1911 343L378 -1190' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M2584 1244L3919 2579' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1823 1679L534 390' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M511 1610L-1021 78' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M3346 1540L1907 101' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1552 920L2115 1483' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2220 1895L913 588' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M134 1351L-1203 14' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M469 1372L1856 2759' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M792 1591L1363 2162' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M3414 692L2655 -67' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1090 1991L1720 2621' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M778 556L1432 1210' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M3340 927L4938 2525' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2331 447L1682 -202' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M99 1480L-1305 76' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2736 1171L3854 2289' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M322 29L883 590' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M681 1982L-594 707' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M3617 599L4695 1677' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1576 1215L2672 2311' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M2719 1619L1117 17' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1412 1609L599 796' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M2348 586L3284 1522' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1795 1651L3162 3018' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M2621 602L2035 16' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M3476 381L2597 -498' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1033%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M3573 68L1993 -1512' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M333 49L-756 -1040' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M800 1989L-548 641' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1032%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1030'%3e%3crect width='3840' height='2160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='50%25' x2='100%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1031'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.29'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.61'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1032'%3e%3cstop stop-color='rgba(174%2c 236%2c 254%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(174%2c 236%2c 254%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1033'%3e%3cstop stop-color='rgba(174%2c 236%2c 254%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(174%2c 236%2c 254%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}
.navbar-nav {
    margin: auto;
}
.navbar-nav .nav-item .nav-link {
    color: #333 !important;
    margin-left: 20px;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #007bff !important;
}
.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    margin: 20px;
}
img{
    margin-top: 30px;
}
.main {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}
.input-group-text {
    background-color: #ffffff;
    border-right: 0;
}
.form-control {
    border-left: 0;
}
.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}
.btn-primary:hover {
    background-color: #0056b3;
}

:root {
    --red:#ff3860;--red-dark:#ff1443;--red-light:#ff5c7c;--blue:#498afb;--blue-dark:#2674fa;--blue-light:#6ca0fc;--orange:#fa8142;--orange-dark:#f96a1f;--orange-light:#fb9865;--green:#09c372;--green-dark:#07a15e;--green-light:#0be586;--purple:#9166cc;--purple-dark:#7d4bc3;--purple-light:#a481d5;--yellow:#ffdd57;--yellow-dark:#ffd633;--yellow-light:#ffe47a;--pink:#ff4088;--pink-dark:#ff1c72;--pink-light:#ff649e;--gray0:#f8f8f8;--gray1:#dbe1e8;--gray2:#b2becd;--gray3:#6c7983;--gray4:#454e56;--gray5:#2a2e35;--gray6:#12181b;--nav-width:4em;--font-body:"sofia-pro",sans-serif;--font-head:"sofia-pro",sans-serif;--font-code:"attribute-mono",monospace;--font-size:20px;--max-width-bp:768px;--orange-pink:linear-gradient(to bottom right,var(--orange-light),var(--orange-dark) 85%);--green-grad:linear-gradient(to bottom right,var(--green-light),var(--green-dark) 85%);--background:var(--gray6);--text-color:var(--gray2);--h-color:#fff;--nav-shadow:4px 0 10px -3px #010101;--card-shadow:0 4px 8px rgba(0,0,0,0.38);--toc-shadow:rgba(0,0,0,0.7) 0px 10px 20px 0px;--nav-bg:var(--gray5);--tag-bg:var(--gray4);--code-bg:#22262f;--card-bg:var(--gray5);--overlay-bg:rgba(0,0,0,0.9);--h-border:2px dashed var(--nav-bg);--nav-border:2px dashed var(--text-color);--card-radius:0.25em;transition: all .3s ease
}

body {
    background: var(--background);
    color: var(--text-color);
    margin: 0;
    font-family: var(--font-body);
    font-size: var(--font-size);
    display: flex;
    min-height: 100vh;
    flex-direction: column
}





.tag {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 2px;
    background: var(--tag-bg);
    color: var(--text-color);
    font-weight: 600;
    margin: .25em .1em
}

h1.tag {
    margin-left: 0;
    margin-right: 0
}

.tag-sm {
    font-size: .7em;
    display: inline-block;
    letter-spacing: .15ch;
    font-weight: 400
}

.tag-lg {
    font-size: 1.2em;
    border-radius: 4px
}

.tag-bg {
    background: var(--background)
}

.tag-green,.tag-pro {
    background: var(--green);
    color: #fff
}

.tag-purple {
    background: var(--purple);
    color: #fff
}

.tag-contrast {
    background: var(--text-color);
    color: var(--background)
}

.tag-javascript {
    background: #f0db4f;
    color: #000
}

.tag-typescript {
    background: #2775c3;
    color: #fff
}

.tag-angular {
    background: #dc0530;
    color: #fff
}

.tag-firebase {
    background: #ffcb2b;
    color: #12181a
}

.tag-vue {
    background: #41b883;
    color: #35495e
}

.tag-rxjs {
    background: var(--pink);
    color: var(--gray5)
}

.tag-node {
    background: #90c53f;
    color: #46483d
}

.tag-cloud-functions {
    background: var(--blue);
    color: #fff
}

.tag-flutter {
    background: #54c5f8;
    color: #003b6c
}

.tag-google-maps {
    background: #33a668;
    color: #f8d845
}

.tag-android {
    background: #a4c34a;
    color: #fff
}

.tag-stripe {
    color: #fff;
    background: #6675e0
}

.tag-machine-learning {
    color: #fff;
    background: var(--purple-light)
}

.tag-python {
    color: #ffda5d;
    background: #3879ab
}

.tag-svelte {
    color: #fff;
    background: #ff3e00
}

.tag-react {
    color: #00d8ff;
    background: #222
}

.tag-ios {
    color: #fff;
    background: #000
}

.tag-minimum-viable-product,.tag-mvp {
    color: #fff;
    background-image: linear-gradient(90deg,#ff8901,#db1d5f);
    font-weight: 700
}

.tag-ionic {
    background: #fff;
    color: #4a8afc
}

.tag-nest {
    color: #e0234e;
    background: #000
}

.tag-graphql {
    color: #fff;
    background: #e10097
}

.tag-electron {
    color: #313244;
    background: #adecf3
}